h1 {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
}

header {
    height: 68px;
    background: #DFDFDF;
    border: 1px solid #B5B7BA;
    box-sizing: border-box;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    padding: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* Чтобы элементы выстраивались в очередь на мелких экранах */
    flex-wrap: wrap;
}

main img {
    width: 385px;
    max-width: 80%;
    padding-bottom: 35px;
}

main img:hover {
    opacity: .95;
    width: 386px;
    padding-left: -1px;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

p {
    width: 600px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
}

footer {
    height: 120px;
    background: #404243;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #C5C5C5;
    display: flex;
    justify-content: center;
    align-items: center;
}
